<!-- main.html -->
{% extends "base.html" %}
{% block title %}Aplicaciones interactivas{% endblock %}
{% block content %}
<div class="main-container">
    <h1>Aplicaciones interactivas</h1>
    <div class="interactive-windows">
        <!-- Ventana de Facenumber -->
        <div class="window window1" onclick="window.location.href='{{ url_for('Facenumber') }}'">
            <h2>Facenumber</h2>
            <p>Facenumber</p>
            <img src="{{ url_for('static', filename='Facenumber.jpg') }}" class="window-image" alt="Facenumber">
        </div>
        <!-- Ventana de Lotka-Volterra -->
        <div class="window window3" onclick="window.location.href='{{ url_for('lotka_volterra') }}'">
            <h2>Lotka-Volterra</h2>
            <p>Simulación del modelo predador-presa.</p>
            <img src="{{ url_for('static', filename='modelo.png') }}" class="window-image" alt="Lotka-Volterra">
        </div>
        <!-- Ventana de Aspiradora QR -->
        <div class="window window4" onclick="window.location.href='{{ url_for('aspiradora_qr_form') }}'">
            <h2>Aspiradora QR</h2>
            <p>Generador de códigos QR.</p>
            <img src="{{ url_for('static', filename='Aspiradora_QR.jpeg') }}" class="window-image" alt="Aspiradora QR">
        </div>
    </div>
</div>
<footer class="footer">
    <p>&copy; 2024 - Aplicación de Gestión de Datos</p>
</footer>
{% endblock %}


